@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Lora, Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
